<?xml version="1.0"?>
<!--
/**
 * Bocansey_Fdmsconnect Connect Plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bocansey
 * @package    Bocansey_Fdmsconnect
 * @author     Bright Ocansey <bright.ocansey@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
      <config>
         <sections>
              <payment>
                  <groups>
                      <fdmsconnect translate="label" module="paygate">
                          <label>First Data IPG Connect</label>
                          <sort_order>670</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <fields>
                              <active translate="label">
                                   <label>Enabled</label>
                                   <frontend_type>select</frontend_type>
                                   <source_model>adminhtml/system_config_source_yesno</source_model>
                                   <sort_order>10</sort_order>
                                   <show_in_default>1</show_in_default>
                                   <show_in_website>1</show_in_website>
                                   <show_in_store>1</show_in_store>
                               </active>
                              <title translate="label">
                                  <label>Title</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>20</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                                  <validate>required-entry</validate>
                                  <comment>Appears in the checkout and in emails sent to the customer.</comment>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </title>
                              <model translate="label">
                                  <label>Payment Gateway Mode</label>
                                  <frontend_type>select</frontend_type>
                                  <source_model>fdmsconnect/source_paymentMode</source_model>
                                  <sort_order>25</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
								  <comment>For PCI DSS related reasons, please contact First Data or developer for other Payment Modes.</comment>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </model>
                              <storeid translate="label">
                                 <label>Store ID</label>
                                 <frontend_type>text</frontend_type>
                                 <sort_order>40</sort_order>
                                 <show_in_default>1</show_in_default>
                                 <show_in_website>1</show_in_website>
                                 <show_in_store>1</show_in_store>
                                  <validate>required-entry</validate>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </storeid>
                             <sharedsecret translate="label">
                                 <label>Shared Secret</label>
                                 <frontend_type>password</frontend_type>
                                 <sort_order>50</sort_order>
                                 <show_in_default>1</show_in_default>
                                 <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                 <validate>required-entry</validate>
                                 <depends>
                                      <active>1</active>
                                  </depends>
                              </sharedsecret>
                              <order_status translate="label">
                                  <label>New order status</label>
                                  <frontend_type>select</frontend_type>
                                  <source_model>fdmsconnect/source_orderStatus</source_model>
                                  <sort_order>80</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </order_status>
                              <currency translate="label">
                                 <label>Transaction Currency</label>
                                  <frontend_type>select</frontend_type>
                                  <source_model>fdmsconnect/source_currency</source_model>
                                  <sort_order>95</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </currency>
                              <test translate="label">
                                  <label>Test Environment</label>
                                  <frontend_type>select</frontend_type>
                                  <source_model>adminhtml/system_config_source_yesno</source_model>
                                  <sort_order>100</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </test>
                              <debug translate="label">
                                  <label>Debug</label>
                                  <frontend_type>select</frontend_type>
                                  <source_model>adminhtml/system_config_source_yesno</source_model>
                                  <sort_order>110</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                                  <comment>Logs requests to and responses from Fdmsconnect to /var/log.system.log provided that logging is enabled.</comment>
                                  <depends>
                                      <active>1</active>
                                  </depends>
                              </debug>
                           </fields>
                       </fdmsconnect>
                   </groups>
               </payment>
           </sections>
       </config>
